<h2 mat-dialog-title>
	Detail Information

	<button type="button"
		class="close ml-auto"
		aria-label="Close"
		mat-dialog-close>
		<span aria-hidden="true">&times;</span>
	</button>
</h2>
<mat-dialog-content class="mat-typography">
	<ul class="line-height-2">
		<li>WHAT
			<ul class="list-unstyled">
				<li class="ml-4">
					<i>
						This is a competence-based self-assessment tool for measuring the readiness of start-ups
						innovators to internationalize their business models in an intergenerational setting.
					</i>
				</li>
			</ul>
		</li>
		<li>WHY
			<ul class="list-unstyled">
				<li class="ml-4">
					<i>
						Three main reasons why it is important for start-up innovators to measure their readiness in the
						context, starting with the opportunities and challenges of technology in the digital age, as
						they seek collaborative partners and expand their business models in other countries. Second,
						various barriers that emerge for intergenerational start-up innovators in the global
						environment. Third, the dynamic skills that evolve over time and context, as well as the
						differences between the mindset of employees and entrepreneurs.
					</i>
				</li>
			</ul>
		</li>
		<li>HOW
			<ul class="list-unstyled">
				<li class="ml-4">
					<i>
						"We complemented an intensive, structured literature review on different topics with a Delphi
						study involving experts from academia and industry coming from different countries to create a
						competence-based tool for assessing the innovation readiness of global start-ups in
						intergenerational setting."
					</i>
				</li>
			</ul>
		</li>
	</ul>
</mat-dialog-content>
