$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 3rem;

$spacing-px: (
	xs: $spacing-xs,
	sm: $spacing-sm,
	md: $spacing-md,
	lg: $spacing-lg,
	xl: $spacing-xl,
);

$spacing-10: 10%;
$spacing-20: 20%;
$spacing-30: 30%;
$spacing-40: 40%;
$spacing-50: 50%;
$spacing-60: 60%;
$spacing-70: 70%;
$spacing-80: 80%;
$spacing-90: 90%;
$spacing-100: 100%;

$spacing-percent: (
	10: $spacing-10,
	20: $spacing-20,
	30: $spacing-30,
	40: $spacing-40,
	50: $spacing-50,
	60: $spacing-60,
	70: $spacing-70,
	80: $spacing-80,
	90: $spacing-90,
	100: $spacing-100,
);

$line-height: 18px;
