<div class="dashboard slide-in-fwd-right">
	<div class="dashboard-container">

		<div class="m-auto w-75">
			<p class="font-40px font-xs-24px font-sbold text-right mb-4">
				Self-assessment tool (Rubric)<br />
				for intergenerational startups<br />
				innovators in global settings<br />
				(iGOAL)
			</p>

			<div class="row justify-content-end">
				<div class="col-md-3 col-12 text-right">
					<button mat-button
						class="bg-info text-white font-18px font-xs-14px py-2 px-3 mb-3"
						(click)="openDetailDialog()">
						More detail Information
					</button>
				</div>

				<div class="col-md-3 col-12 text-right">
					<button mat-button
						class="bg-info text-white font-18px font-xs-14px py-2 px-3"
						(click)="navigateToStepInfo()">
						Begin the assessement
					</button>
				</div>
			</div>
		</div>

	</div>
</div>
